<!Doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ことば</title>
    <%- include("../common/stylesheets.ejs") %>
</head>

<body>
    <%- include('../common/navi.ejs', {}) %>
    <main role="main" class="container">
        <table class="table table-bordered">
            <colgroup>
                <col style="width:20%">
                <col style="width:80%">
            </colgroup>
            <tr>
                <th>番号</th>
                <td><%= kotoba.kotoba_no %></td>
            </tr>
            <tr>
                <th>ことば</th>
                <td><%= kotoba.kotoba_value %></td>
            </tr>
        </table>
        <a class="btn btn-primary" href="/admin?value=<%= q %>&page=<%= page %>" role="button">戻る</a>
    </main>
    <%- include("../common/javascripts.ejs") %>
</body>

</html>