<!Doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ことば一覧</title>
  <%- include("../common/stylesheets.ejs") %>
</head>

<body>
  <%- include('../common/navi.ejs', {}) %>
  <main role="main" class="container">
    <form method="GET" action="/admin">
      <div class="form-group row">
        <div class="col-sm-8">
          <input type="text" class="form-control" name="value" id="value" value="<%= value %>" placeholder="検索文字列">
      </div>
        <div class="col-sm-4">
          <input type="submit" value="検索" class="btn btn-primary" />
        </div>
      </div>
    </form>

    <div class="alert alert-primary" role="alert"><%= count %>件検索されました。</div>
    <div class="mt-2"><a class="btn btn-primary" href="/admin/kotoba/touroku?q=<%= value %>&page=<%= pagenation.current %>">登録</a></div>
    <div class="mb-5">
      <% for (let data of kotobas) { %>
      <%  data.value = value %>
      <%- include("./item.ejs", data)%>
      <% } %>
    </div>
    <nav>
      <ul class="pagination">
        <% for(var i = 1; i <= pagenation.max; i++) { %>
        <% if( pagenation.current !== i){ %>
        <li class="page-item"><a class="page-link" href="/admin?value=<%= value %>&page=<%= i %>"><%= i %></a>
        </li>
        <% } else {%>
        <li class="page-item active"><span class="page-link disabled"><%= i %></span></a></li>
        <% } %>
        <% } %>
      </ul>
    </nav>

  </main>
  <%- include("../common/javascripts.ejs") %>
</body>

</html>